<a href="https://colab.research.google.com/github/GeremiccaAndrea/Strutture-Dati/blob/main/Dizionari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I dizionari sono formati da una chiave e un valore

In [ ]:
carlo = {
    "genere" :" maschio",
    "età": 15,
    "altezza" : 200,
}
print(carlo)

{'genere': ' maschio', 'età': 15, 'altezza': 200}

In [ ]:
itaeng = {
    "scarpa" : "shoes",
    "sciarpa" : "scarf",
    "ciao" : "hello",
}
print(itaeng)

{'scarpa': 'shoes', 'sciarpa': 'scarf', 'ciao': 'hello'}

In [ ]:
#per aggiungere un elemento ad un dizionario 
carlo.update({"cognome":"Borhesi"})
carlo["capelli"] = "neri"
print(carlo)

{'genere': ' maschio', 'età': 15, 'altezza': 200, 'cognome': 'Borhesi', 'capelli': 'neri'}

In [ ]:
#per rimuovere un elemento 
carlo.pop("età")
print(carlo)

{'genere': ' maschio', 'altezza': 200, 'cognome': 'Borhesi', 'capelli': 'neri'}

In [ ]:
#Un dizionario può contenere altri dizionari
# è un dizionario nidificato 

famiglia = {
    "figlio0" : {
        "nome" : "carlo",
        "età" : 15,
        "altezza":200
    },
    "figlio1" : {
            "nome" : "gianni",
            "età" : 12,
            "altezza":150
        },
}

print(famiglia)

#Puoi anche creare dei Dizionari formati da altri già esistenti

figlio0 = {
    "nome" : "carlo",
    "età":15,
    "altezza":200
}

figlio1 = {
    "nome" : "gianni",
    "età":12,
    "altezza":150
}

famiglia = {
    "figlio0" : figlio0,
    "figlio1" : figlio1
}


print(famiglia)

{'figlio0': {'nome': 'carlo', 'età': 15, 'altezza': 200}, 'figlio1': {'nome': 'gianni', 'età': 12, 'altezza': 150}}
{'figlio0': {'nome': 'carlo', 'età': 15, 'altezza': 200}, 'figlio1': {'nome': 'gianni', 'età': 12, 'altezza': 150}}

In [ ]:
#Per visualizzare tutte le Chiavi
for key in carlo:
  print(key)

#Oppure
for x in carlo.keys():
  print(x)

genere
altezza
cognome
capelli
genere
altezza
cognome
capelli

In [ ]:
#Per visualizzare tutti i Valori
for value in carlo:
  print(carlo[value])

#Oppure
for x in carlo.values():
  print(x)

 maschio
200
Borhesi
neri
 maschio
200
Borhesi
neri

In [ ]:
#Per visualizzare tutte le coppie Chiave-Valore
for key, value in carlo.items():
  print(key, value)

genere  maschio
altezza 200
cognome Borhesi
capelli neri

In [ ]:
#Rimuove tutti gli elementi all'interno di un Dizionario
LuigiXVI = {
    "genere":"maschio",
    "età":38
}

LuigiXVI.clear()
print(LuigiXVI)

{}

In [ ]:
#Copia gli elementi di un Dizionario in un altro
fifa22 = {
    "sviluppo":"EA Sports",
    "genere":"Calcio",
    "prezzo":"70€" 
}

fifa23 = fifa22.copy()
print(fifa23)

{'sviluppo': 'EA Sports', 'genere': 'Calcio', 'prezzo': '70€'}

In [ ]:
#Assegna ad ogni chiave un valore uguale
key = ("autostima", "motivazione", "felicità")
value = 0

vita = dict.fromkeys(key, value) #dict = specificare che è un dizionario
print(vita)

{'autostima': 0, 'motivazione': 0, 'felicità': 0}

In [ ]:
#Prende il valore associato alla chiave specificata
carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}

centimetri = carlo.get('altezza')
print(centimetri)

#Prende anche il valore di un elemento che non è presente nella lista

fidanzata = carlo.get('fidanzata')
print(fidanzata)

200
None

In [ ]:
#Restituisce un view object che contiene come lista le coppie di chiave-valore in un Dizionario
carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}
studente1 = carlo.items()
print(studente1)

dict_items([('genere', 'maschio'), ('età', 15), ('altezza', 200)])

In [ ]:
#Quando un elemento all'interno del Dizionario cambia valore, cambia anche nella nuova variabile
carlo = {
    "genere":"maschio",
    "età":15,
    "altezza":200
}
studente1 = carlo.items()
print(studente1)
carlo['età'] = 16
print(studente1)

dict_items([('genere', 'maschio'), ('età', 15), ('altezza', 200)])
dict_items([('genere', 'maschio'), ('età', 16), ('altezza', 200)])

#Esercizi

1. Crea un dizionario che contenga il tuo nome, cognome ed età

In [ ]:
Geremicca = {
    "Nome" : "Andrea",
    "Cognome" : "Geremicca", 
    "Età" : "16",
}
print(Geremicca)

{'Nome': 'Andrea', 'Cognome': 'Geremicca', 'Età': '16'}

2. Aggiungi al dizionario la tua altezza

In [ ]:
Geremicca ["altezza"] = 172
print(Geremicca)

{'Nome': 'Andrea', 'Cognome': 'Geremicca', 'Età': '16', 'altezza': 172}

3. Cambia la tua altezza con quella di Goku (175 cm)

In [ ]:
Geremicca ["altezza"] = 175
print(Geremicca)

{'Nome': 'Andrea', 'Cognome': 'Geremicca', 'Età': '16', 'altezza': 175}

4. Visualizza il numero di chiavi

In [ ]:
len(Geremicca.keys())

#Oppure 
len(Geremicca)

5. Visualizza la seconda chiave

In [ ]:
SecondaChiave = list(Geremicca.keys())
print(SecondaChiave[1])

Cognome

6. Crea un nuovo dizionario uguale al primo

In [ ]:
Geremicca2 = Geremicca.copy()
print(Geremicca2)

{'Nome': 'Andrea', 'Cognome': 'Geremicca', 'Età': '16', 'altezza': 175}

7. Svuota il nuovo dizionario e visualizza il primo

In [ ]:
Geremicca2.clear()
print(Geremicca)

{'Nome': 'Andrea', 'Cognome': 'Geremicca', 'Età': '16', 'altezza': 175}

8. Nel secondo dizionario inserisci le chiavi "batte", "forte", "sempre" e assegna ad ognuna il valore "comodino".

In [ ]:
key = ("Batte", "Forte", "Sempre")
value = "comodino"
SecondoDizionario = dict.fromkeys(key, value)
print(SecondoDizionario)

{'Batte': 'comodino', 'Forte': 'comodino', 'Sempre': 'comodino'}

9. Visualizza con un ciclo tutti gli elementi presenti nel secondo dizionario

In [ ]:
for key in Geremicca2:
  print(key, Geremicca)

10. Rimuovi il valore della seconda chiave del secondo dizionario

11. Crea un dizionario chiamato Dizionarione che contenga sia il primo che il secondo

12. Aggiungi a Dizionarione un terzo dizionario che contenga 3 chiavi e 3 valori a tua scelta

13. Rimuovi il terzo dizionario da Dizionarione e visualizzalo

14. Si vogliono visualizzare le informazioni riguardanti alcune nazioni dell'unione europea. Di ogni nazione si vuole memorizzare il nome, la capitale, la superficie e la popolazione.

- Caricare le informazioni nella struttura dati ritenuta più opportuna. 

- Scrivere poi il codice per avere le seguenti informazioni: 

1. Dato il nome di una nazione tutte le sue informazioni 

2. Dato ilo nome di una capitale visualizzare la nazione a cui appartiene 

3. Visualizzare il nome della nazione più estesa 

4. Visualizzare la media delle popolazioni delle nazioni presenti

In [ ]:
Nazioni = [
    {"Nome": "Italia", "Capitale": "Roma","Superficie": 301230,"Popolazione": 59000000},
    {"Nome": "Francia", "Capitale": "Parigi","Superficie": 543940,"Popolazione": 67500000},
    {"Nome": "Germania", "Capitale": "Berlino","Superficie": 357588,"Popolazione": 83000000},
    {"Nome": "Spagna", "Capitale": "Madrid","Superficie": 505370,"Popolazione": 47000000},
    {"Nome": "Finlandia", "Capitale": "Helsinki","Superficie": 338145,"Popolazione": 5240297},
    {"Nome": "Svezia", "Capitale": "Stoccolma","Superficie": 450295,"Popolazione": 9723809}]
print(Nazioni)

[{'Nome': 'Italia', 'Capitale': 'Roma', 'Superficie': 301230, 'Popolazione': 59000000}, {'Nome': 'Francia', 'Capitale': 'Parigi', 'Superficie': 543940, 'Popolazione': 67500000}, {'Nome': 'Germania', 'Capitale': 'Berlino', 'Superficie': 357588, 'Popolazione': 83000000}, {'Nome': 'Spagna', 'Capitale': 'Madrid', 'Superficie': 505370, 'Popolazione': 47000000}, {'Nome': 'Finlandia', 'Capitale': 'Helsinki', 'Superficie': 338145, 'Popolazione': 5240297}, {'Nome': 'Svezia', 'Capitale': 'Stoccolma', 'Superficie': 450295, 'Popolazione': 9723809}]

In [ ]:
#Visualizza il 3° dizionario 
Nazioni[2]

{'Nome': 'Germania',
 'Capitale': 'Berlino',
 'Superficie': '357588 km²',
 'Popolazione': '83000000 milioni '}

In [ ]:
#Visualizza la capitale della 3° nazione 
Nazioni[2]["Capitale"]

'Berlino'

In [ ]:
#Visualizzare tutte le capitali nel dizionario 
for i in range(len(Nazioni)):
  print(Nazioni[i]["Capitale"])

#Oppure 
for nazione in Nazioni:
  print(nazione["Capitale"])

Roma
Parigi
Berlino
Madrid
Helsinki
Stoccolma
Roma
Parigi
Berlino
Madrid
Helsinki
Stoccolma

In [ ]:
SceltaNazione = input("Inserire il nome di una nazione: ")
for nazione in Nazioni:
  if SceltaNazione == nazione["Nome"]:
    print(nazione["Nome"],nazione["Capitale"],nazione["Popolazione"], nazione["Superficie"])

Inserire il nome di una nazione: Italia
Italia Roma 59000000 milioni 301230 km²

In [ ]:
#Dato il nome di una capitale visualizzare la nazione a cui appartiene
SceltaCapitale = input("Inserire il nome di una capitale: ")
for capitale in Nazioni:
  if SceltaCapitale == capitale["Capitale"]:
    print(capitale["Nome"])

Inserire il nome di una capitale: Stoccolma
Svezia

In [ ]:
#Visualizzare il nome della nazione più estesa
sup = []
for i in range(len(Nazioni)):
  sup.append(Nazioni[i]["Superficie"])
print(max)
for Nazione in Nazioni:
  if max == (Nazione["Superficie"]): 
    print(Nazione["Nome"])

543940
Francia

In [ ]:
#Visualizzare la media delle popolazioni delle nazioni presenti
Nazioni[0:6]["Popolazione"]

15. Memorizzare in un'opportuna struttura dati i nomi di 10 città europee e in un'altra struttura dati i nomi di 10 capitali. 

- Scrivere poi il codice necessario per avere i nomi delle città che sono anche capitali.