<a href="https://colab.research.google.com/github/GeremiccaAndrea/Strutture-Dati/blob/main/Insiemi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gli insiemi vengono utilizzati per memorizzare più elementi in una singola variabile, gli insiemi non sono ordinati

In [ ]:
insieme = {"inter", "milan", "juventus"}
print(insieme)

#un'altro metodo per non mettere le {} è: 
insieme2 = set(("inter", "milan", "juventus")) #la prima parentesi è per indicare la funzione set, mentre l'altra per inserire i valori 
print(insieme2)

{'milan', 'juventus', 'inter'}
{'milan', 'juventus', 'inter'}

1) creare un insieme con numeri interi

In [ ]:
insieme_num_interi = set((1,2,3,4,5,6,7,8,9,10))
print(insieme_num_interi)

#inserire numeri da 1 a 20
prova = set((i for i in range(20)))
print(prova)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

Creare un insieme misto

In [ ]:
#gli elementi booleani sono inserbili solo se non sono presenti 1 (true) o 0 (false), dato che non ci possono essere duplicati in un insieme
insiememisto = {2, "luca", "marco", 45, True}
print(insiememisto)

2) mostrare gli elementi di un insieme

In [ ]:
insieme2 = set(("playstation", "xbox", "pc"))
for elemento in insieme2:
  print(elemento)

xbox
pc
playstation

Aggiungere un elemento ad un insieme

In [ ]:
insieme5 = {"ciao", 56, True}
print(insieme5)
insieme5.add("francesco")
print(insieme5)

{56, True, 'ciao'}
{56, True, 'ciao', 'francesco'}

In [ ]:
#funzione update 
insieme6 = {"Andrea", 78,7}
insieme7 = {"Poli", "Loto", "Fonta"}
insieme6.update(insieme7) #con la funzione update ti aggiunge alla prima lista gli elementi della seconda lista 
print(insieme6)

{'Poli', 7, 'Loto', 'Fonta', 'Andrea', 78}

In [ ]:
#rimuovere elementi 
insieme8 = {"Pippo", "Paperino", "Pluto", "Topolino"}
print(insieme8)
insieme8.remove("Pippo") #rimuove pippo
print(insieme8)

insieme8.discard("Pippo")
print(insieme8) #se in un insieme non troviamo un elemento con la funzione remove ti da errore mentre con la funzione discard non da errore

{'Paperino', 'Pippo', 'Pluto', 'Topolino'}
{'Paperino', 'Pluto', 'Topolino'}
{'Paperino', 'Pluto', 'Topolino'}

In [ ]:
#rimuovere elementi utilizzando pop
#con il .pop ti rimuove un elemento a caso dall'insieme
x = insieme8.pop()
print(x)
print(insieme8)

Paperino
{'Pluto', 'Topolino'}

In [ ]:
#per inizializzare un insieme vuoto 
insieme = set()
print(type(insieme))

<class 'set'>

In [ ]:
#rimuovere tutti gli elementi 
insieme8.clear()
print(insieme8)

set()

Unire gli insiemi

In [ ]:
#metodo union 
#creiamo 2 insiemi e in un terzo uniamo tutti gli elementi 
#vengono esclusi i duplicati
set1 = {1,2,3,4,5,6}
set2 = {10,20,30,40}
set3 = {11,12,13,14,15}
set4 = set1.union(set2,set3)
print(set4)

{1, 2, 3, 4, 5, 6, 40, 10, 11, 12, 13, 14, 15, 20, 30}

In [ ]:
#intersection_update: salva in un insieme gli elementi duplicati che ci sono in entrambi gli insiemi (rimuove gli elementi che non presenti in altri insiemi)
set6 = {"ciao", "buongiorno", "buonasera", "arrivederci"}
set7 = {"arrivederci", "buonasera", 6, 80}
set6.intersection_update(set7)
print(set6)

{'buonasera', 'arrivederci'}

In [ ]:
#symmetric_difference_update: salva in un insieme gli elementi non duplicati che ci sono in entrambi gli insiemi (inserisce gli elementi diversi da questo insieme e un altro ed elimina quelli comuni)
set9 = {"inter", "milan", "roma", "napoli"}
set10 = {"inter", "roma", 87, 123}
set9.symmetric_difference_update(set10)
print(set9)

{'milan', 'napoli', 87, 123}

# Esercizi

Inserire in una struttura dati adeguata gli elementi 1,4,5,6,7,10,1,4

In [ ]:
num = {1,4,5,6,7,10,1,4}
print(num)

{1, 4, 5, 6, 7, 10}

Caricare in una lista 20 numeri fra 1 a 100 casuali ed eliminare i duplicati

In [ ]:
import random 
listanum = [random.randint(1,101) for num in range(20)]
print(listanum)
listanum = set((listanum))
print(listanum)

[80, 15, 77, 88, 31, 28, 65, 94, 52, 28, 49, 26, 69, 96, 73, 13, 101, 58, 99, 16]
{13, 15, 16, 26, 28, 31, 49, 52, 58, 65, 69, 73, 77, 80, 88, 94, 96, 99, 101}



1.   creare un insieme che contenga: pizza, pasta, carne, pesce
2.   aggiungere alla lista adesso creata l'elemento: hamburger
3.   eliminare tutti gli elementi della lista creata
4.   creare due insiemi con elementi a piacere, poi crearne un terzo con tutti gli elementi degli altri due insiemi
5.   creare due insiemi in modo che ci siamo elementi comuni tra i due insiemi, poi crearne un terzo che contenga solo gli elementi uguali

In [ ]:
#esercizio 1 
cibo = {"pizza", "pasta", "carne", "pesce"}
print(cibo)

{'carne', 'pasta', 'pesce', 'pizza'}

In [ ]:
#esercizio 2
cibo.add("hamburger") 
print(cibo)

{'pasta', 'pizza', 'pesce', 'carne', 'hamburger'}

In [ ]:
#esercizio 3
cibo.clear()
print(cibo)

set()

In [ ]:
#esercizio 4
secondaE = {"Tamburiello", "Erind", "Bombaci", "Hoxha"}
terzaE = {"Geremicca", "Lotorto", "Leone", "Bernasconi", "Fontana"}
insieme = secondaE.union(terzaE)
print(insieme)

{'Leone', 'Tamburiello', 'Hoxha', 'Erind', 'Bombaci', 'Lotorto', 'Fontana', 'Geremicca', 'Bernasconi'}

In [ ]:
#esercizio 5 
secondaE = {"Tamburiello", "Erind", "Bombaci", "Fontana", "Geremicca"}
terzaE = {"Geremicca", "Lotorto", "Leone", "Bernasconi", "Fontana"}
insieme1 = secondaE.intersection(terzaE)
print(insieme1)

{'Geremicca', 'Fontana'}

In [ ]:
#un inseieme si può creare con set() oppure {
Milella = set(("banana", "kiwi", "arancia"))
Avasiloae = {"pera", "uva", "kiwi"}

#trovare i frutti comuni in entrambi gli insiemi 
FruttiComuni = Milella.intersection(Avasiloae)
print(FruttiComuni)

#stampare tutti i frutti dei due insiemi in un'altro insieme mentre con update si aggiorna l'insieme 
TuttiFruttiPresenti = Milella.union(Avasiloae)
print(TuttiFruttiPresenti)

#trovare gli elementi che piacciono a Milella e non ad Avasiloae
Frutti_che_piacciono_a_Milella_e_non_ad_Avasiloae = Milella.difference(Avasiloae)
print(Frutti_che_piacciono_a_Milella_e_non_ad_Avasiloae)

#aggiungere un frutto 
Milella.add("fragola")
print(Milella)

#rimuovere un frutto 
Milella.remove("kiwi")
print(Milella)

{'kiwi'}
{'pera', 'kiwi', 'banana', 'uva', 'arancia'}
{'arancia', 'banana'}
{'arancia', 'kiwi', 'banana', 'fragola'}
{'arancia', 'banana', 'fragola'}

In [ ]:
frutta = ("uva", "mela", "uva", "uva", "mela", "kiwi", "mela")
print(frutta)
#trasfromare in un insieme 
FruttaInsieme = set(frutta)
print(FruttaInsieme)
#trasformare in una lista
FruttaLista = list(FruttaInsieme)
print(FruttaLista)
#trasformare in una tupla
FruttaTupla = tuple(FruttaInsieme)
print(FruttaTupla)

#codice nidificato una dentro l'altra
FruttaTupla = tuple(list(set(frutta)))
print(FruttaTupla)

('uva', 'mela', 'uva', 'uva', 'mela', 'kiwi', 'mela')
{'mela', 'kiwi', 'uva'}
['mela', 'kiwi', 'uva']
('mela', 'kiwi', 'uva')
('mela', 'kiwi', 'uva')

In [ ]:
#In una lista togliere i ripetuti e ritrasformarla in una lista
Squadre = ["Milan", "Inter", "Juventus", "Napoli", "Milan", "Juventus"]
SquadreSenzaRipetizioni = list(set(Squadre))
print(SquadreSenzaRipetizioni)

['Napoli', 'Inter', 'Juventus', 'Milan']