<a href="https://colab.research.google.com/github/GeremiccaAndrea/Strutture-Dati/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Una tupla è una struttura dati ordinata e non modificabile, sono delle strutture dati volatili

Si usano per salvare dei dati sempre fissi

In [ ]:
tupla1 = (1,2,3,4,5)
print(tupla1)

(1, 2, 3, 4, 5)

In [ ]:
tupla1.append() #non funziona perchè non è modificabile

Per creare una tupla con un solo elemento, devi aggiungere una virgola dopo l'elemento

In [ ]:
tupla2 = ("prova" ,)
print(type(tupla2)) #con type chiediamo cosa stiamo utilizzando, in questo caso una tupla 
print(tupla2)

tupla2 = ("prova") #quando non mettiamo più la virgola non è più un tupla ma una stringa 
print(type(tupla2))

<class 'tuple'>
('prova',)
<class 'str'>

In [ ]:
prova = tuple(("ciao" , 24))
print(prova)

Pluto = ["ciao",24]
prova1 = tuple(Pluto)
print(prova1)

('ciao', 24)
('ciao', 24)

1) Generare 20 numeri casuali diversi che non si devono ripetere) che vanno da 1 a 100, poi inserirli in una struttura dati adeguata che non sia modificabile

In [ ]:
import random 
#random.sample genera tutti numeri diversi
#(1,100) è il range dei numeri che può inserire quindi i numeri compresi da 1 a 100 in questo caso 
# ,20 sono i numeri casuali che deve inserire 
tupla0 = tuple(random.sample(range(1,100),20)) #mettendo tuple trasformiamo la lista in una tupla non modificabile
print(type(tupla0)) #controlliamo se è una tupla 
print(tupla0)

<class 'tuple'>
(56, 68, 97, 52, 84, 89, 17, 78, 99, 88, 7, 71, 20, 70, 15, 33, 43, 10, 27, 48)

2) Aggiungere i primi 3 cognomi della classe in posizione 1 al precedente vettore

In [ ]:
tupla0 = list(tupla0)
tupla0[0:0] = ["avasiloae", "bernasconi", "cottone"] #[0:0] ti aggiunge nella prima posizione i nomi inseriti 
print(tupla0)
tupla0 = tuple(tupla0) #trasformo una lista in una tupla
print(tupla0)

['avasiloae', 'bernasconi', 'cottone', 56, 68, 97, 52, 84, 89, 17, 78, 99, 88, 7, 71, 20, 70, 15, 33, 43, 10, 27, 48]
('avasiloae', 'bernasconi', 'cottone', 56, 68, 97, 52, 84, 89, 17, 78, 99, 88, 7, 71, 20, 70, 15, 33, 43, 10, 27, 48)

In [ ]:
lista10 = ["mela", "arancia", "banana"]

In [ ]:
tupla10 = tuple(lista10)
print(tupla10)

('mela', 'arancia', 'banana')

In [ ]:
#aggiungere uva
#ordinare la lista
lista10.append("uva")
print(lista10)
lista10.sort()
print(lista10)

['mela', 'arancia', 'banana', 'uva']
['arancia', 'banana', 'mela', 'uva']